<div class="col-md-5 col-sm-5 col-xs-12" th:fragment="product-item-image-detail" xmlns:th="http://www.thymeleaf.org"
         xmlns="http://www.w3.org/1999/html">
    <th:block th:with="imageUrl=${'/images/product/'+ productDetail.imageUrl}">

        <div class="single-pro-tab-content">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home"><a href="#"><img class="zoom" th:src="${imageUrl}" th:data-zoom-image="${imageUrl}" alt="" /></a></div>
                <div role="tabpanel" class="tab-pane" id="profile"><a href="#"><img class="zoom" th:src="${imageUrl}" th:data-zoom-image="${imageUrl}" alt="" /></a></div>
                <div role="tabpanel" class="tab-pane" id="settings"><a href="#"><img class="zoom" th:src="${imageUrl}" th:data-zoom-image="${imageUrl}" alt="" /></a></div>
                <div role="tabpanel" class="tab-pane" id="settingss"><a href="#"><img class="zoom" th:src="${imageUrl}" th:data-zoom-image="${imageUrl}" alt="" /></a></div>
            </div>
            <!-- Nav tabs -->
            <ul class="single-product-tab" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><img th:src="${imageUrl}" alt="" /></a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img th:src="${imageUrl}" alt="" /></a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img th:src="${imageUrl}" alt="" /></a></li>
                <li role="presentation"><a href="#settingss" aria-controls="settings" role="tab" data-toggle="tab"><img th:src="${imageUrl}" alt="" /></a></li>
            </ul>
        </div>

    </th:block>
</div>