<div class="row" th:fragment="product-description-review" xmlns:th="http://www.thymeleaf.org"
     xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12 col-sm-12">
        <div class="product-tabs">
            <div>
                <!-- Nav tabs -->
                <ul class="pro-details-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#tab-desc" aria-controls="tab-desc" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#page-comments" aria-controls="page-comments" role="tab" data-toggle="tab">Reviews (1)</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-desc">
                        <div class="product-tab-desc">
                            <div th:utext="${productDetail.description}"></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="page-comments">
                        <div class="product-tab-desc">
                            <div class="product-page-comments">
                                <h2><span class="number-review"></span> review for product</h2>
                                <div class="review-content">

                                </div>
                                <script id="item-review" type="text/x-jQuery-tmpl">
                                     <ul>
                                        <li>
                                            <div class="product-comments">
                                                <img />
                                                <div class="product-comments-content">
                                                    <p><strong>${userName}</strong> -
                                                        <span>${createdAt}</span>
                                                        <span class="pro-comments-rating">
                                                                {{each(i) numberStar}}
                                                                    <i class="fa fa-star color-star"></i>
                                                                {{/each}}
                                                        </span>
                                                    </p>
                                                    <div class="desc">
                                                        ${content}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </script>
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <div class="product-comments">-->
<!--                                            <img src="img/author.jpg" alt="" />-->
<!--                                            <div class="product-comments-content">-->
<!--                                                <p><strong>admin</strong> - -->
<!--                                                    <span>March 7, 2015:</span>-->
<!--                                                    <span class="pro-comments-rating">-->
<!--																				<i class="fa fa-star color-star"></i>-->
<!--																				<i class="fa fa-star color-star"></i>-->
<!--																				<i class="fa fa-star color-star"></i>-->
<!--																				<i class="fa fa-star color-star"></i>-->
<!--																			</span>-->
<!--                                                </p>-->
<!--                                                <div class="desc">-->
<!--                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
                                <div class="review-form-wrapper">
                                    <h3 id="add-review">Add a review</h3>
                                    <form th:action="@{/review/{productId}/add(productId=${productDetail.id})}" th:method="POST" th:object="${reviewInfo}">
                                        <div class="your-rating">
                                            <h5>Your Rating</h5>
                                            <span class="number-star" data-star="1">
                                                <a ><i class="fa fa-star color-star"></i></a>
                                            </span>
                                            <span class="number-star" data-star="2">
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                            </span>
                                            <span class="number-star" data-star="3">
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                            </span>
                                            <span class="number-star" data-star="4">
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                            </span>
                                            <span class="number-star" data-star="5">
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                                <a ><i class="fa fa-star color-star"></i></a>
                                            </span>
                                        </div>
                                        <textarea id="product-message" name="content" cols="30" rows="10" placeholder="Your Review"></textarea>
                                        <input name="numberStar" id="star" hidden />
                                        <input type="submit" value="submit" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>