<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout-none-slide}">
<head>
    <title th:text="'Products |' ">Page Title</title>
</head>
<div>
    <div class="shop-area" layout:fragment="content">
        <div class="container">
            <div class="row PDT20">
                <div th:replace="layouts/left-category :: left-category"></div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="shop-content">
                        <ul class="shop-tab" role="tablist">
                            <li><span class="sorting-name"> View as:  </span></li>
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                      data-toggle="tab"><i class="fa fa-th"
                                                                                           aria-hidden="true"></i></a>
                            </li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                       data-toggle="tab"><i class="fa fa-th-list"
                                                                            aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="short-by">
                            <span class="sorting-show"> Sort by:</span>
                            <select>
                                <option value="volvo">popularity</option>
                                <option value="saab">Default</option>
                                <option value="mercedes">average rating</option>
                                <option value="audi">newness</option>
                                <option value="audi">low to high</option>
                                <option value="audi">high to low</option>
                            </select>
                        </div>
                        <div class="shop-show">
                            <span class="sorting-show"> Show:</span>
                            <select>
                                <option value="volvo">9</option>
                                <option value="saab">10</option>
                                <option value="mercedes">11</option>
                                <option value="audi">12</option>
                                <option value="audi">15</option>
                                <option value="audi">16</option>
                            </select>
                        </div>
                        <div class="shop-breadcrumb">
                            <ul>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>

                        <div class="clear"></div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <!-- single-product start -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img th:src="@{/images/product/7up.jpg}" alt=""/>
                                                    <img class="secondary-img" th:src="@{/images/product/7up.jpg}"
                                                         alt=""/>
                                                </a>
                                                <span class="tag-line">new</span>
                                                <div class="product-action">
                                                    <div class="button-top">
                                                        <a href="#" data-toggle="modal" data-target="#productModal"><i
                                                                class="fa fa-search"></i></a>
                                                        <a href="#"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                    <div class="button-cart">
                                                        <button><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                                <div class="price">
                                                    <span>$80.00</span>
                                                    <span class="old">$90.11</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-product end -->
                                    <!-- single-product start -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img th:src="@{img/product/c2.jpg}" alt=""/>
                                                    <img class="secondary-img" th:src="@{img/product/c2.jpg}" alt=""/>
                                                </a>
                                                <span class="tag-line">new</span>
                                                <div class="product-action">
                                                    <div class="button-top">
                                                        <a href="#" data-toggle="modal" data-target="#productModal"><i
                                                                class="fa fa-search"></i></a>
                                                        <a href="#"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                    <div class="button-cart">
                                                        <button><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                                <div class="price">
                                                    <span>$80.00</span>
                                                    <span class="old">$90.11</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-product end -->
                                    <!-- single-product start -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img th:src="@{img/product/chanhleo.jpg}" alt=""/>
                                                    <img class="secondary-img" src="img/product/chanhleo.jpg" alt=""/>
                                                </a>
                                                <span class="tag-line">new</span>
                                                <div class="product-action">
                                                    <div class="button-top">
                                                        <a href="#" data-toggle="modal" data-target="#productModal"><i
                                                                class="fa fa-search"></i></a>
                                                        <a href="#"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                    <div class="button-cart">
                                                        <button><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                                <div class="price">
                                                    <span>$80.00</span>
                                                    <span class="old">$90.11</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-product end -->
                                    <!-- single-product start -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img th:src="@{img/product/chanhleo.jpg}" alt=""/>
                                                    <img class="secondary-img" src="img/product/chanhleo.jpg" alt=""/>
                                                </a>
                                                <span class="tag-line">new</span>
                                                <div class="product-action">
                                                    <div class="button-top">
                                                        <a href="#" data-toggle="modal" data-target="#productModal"><i
                                                                class="fa fa-search"></i></a>
                                                        <a href="#"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                    <div class="button-cart">
                                                        <button><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                                <div class="price">
                                                    <span>$80.00</span>
                                                    <span class="old">$90.11</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-product end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>