<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-main-layout}">
<head>
    <title th:text="'Products |' ">Page Title</title>
</head>
<body>

<div>
    <div class="container-fluid" layout:fragment="content">

        <h2 class="h3 mb-4 text-gray-800" style="padding-left: 20px;">Quản lí đơn hàng</h2>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã đơn hàng</th>
                            <th>Họ tên</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Ngày tạo</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th>Chỉnh sửa trạng thái</th>
                            <th>Chi tiết</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="item,iter : ${orders}">
                            <tr id="order-{{$order->id}}"
                                th:classappend="${item.statusNumber == 2 ? 'style-success' : (item.statusNumber == 1 ? 'style-cancel':'')}">
                                <td th:text="${iter.index + 1}">STT</td>
                                <td th:text="${item.id}">CODE</td>
                                <td th:text="${item.orderName}">
                                    <User></User>
                                    Name
                                </td>
                                <td th:text="${item.orderPhone}">Phone number</td>
                                <td th:text="${item.orderAddress}">Address</td>
                                <td th:attr="data-date-format=${jsDisplayDateFormat}" th:text="${item.updatedAt}">
                                    UpdatedAt
                                </td>
                                <td><span th:text="${item.totalPrice}" class="money">Total Price</span></td>
                                <td id="status-{{$order->id}}"><span th:text="${item.status}" class="label"
                                                                     >Default Label</span>
                                </td>
                                <td style="display: flex">
                                    <button th:disabled th:data-id="${item.id}"
                                            th:data-status="1" type="button"
                                            th:classappend="${item.statusNumber == 2 or item.statusNumber == 1 ? 'disabled-change-status': ''}"
                                            class="btn btn-danger status-cancel change-status"
                                    >
                                        Hủy đơn hàng
                                    </button>

                                    <button th:data-id="${item.id}"
                                            th:data-status="2" type="button"
                                            th:classappend="${item.statusNumber == 2 or item.statusNumber == 1 ? 'disabled-change-status': ''}"
                                            class="btn btn-success change-status"
                                            id="btn-cancel-{{$order->id}}">
                                        Hoàn thành đơn hàng
                                    </button>

                                </td>
                                <td>
                                    <button th:data-id="${item.id}" class="btn btn-info show-detail">Chi tiết đơn hàng
                                    </button>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="fragments/order/order-item :: order-item"></div>
    </div>
</div>
</body>

<div layout:fragment="footer">
    <div th:replace="fragments/partials/footer :: jquery-tmpl"></div>
    <script th:src="@{/admin/js/admin-order.js}"></script>
</div>

</html>