<ul th:fragment="menu-left" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> Admin </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/chart}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Quản lí danh mục
    </div>
    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/categories}">
            <i class="fas fa-th-list"></i>
            <span>Danh mục</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Quản lí giảm giá
    </div>
    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/discounts}">
            <i class="fas fa-th-list"></i>
            <span>Giảm giá</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Quản lí sản phẩm
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/products}">
            <i class="fab fa-product-hunt"></i>
            <span>Sản phẩm</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lí user
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-user"></i>
            <span>User</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <div class="sidebar-heading">
        Quản lí đơn hàng
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/order}">
            <i class="fa fa-list-alt"></i>
            <span>Đơn hàng</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <div class="sidebar-heading">
        Thống kê
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/chart}">
            <i class="fas fa-trademark"></i>
            <span>Biểu đồ</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/report}">
            <i class="fas fa-trademark"></i>
            <span>Báo cáo</span></a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
