<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" th:fragment="left-category" xmlns:th="http://www.thymeleaf.org">
    <!-- widget-categories start -->
    <aside class="widget widget-categories">
        <a th:href="@{/products}"><h3 class="sidebar-title">Categories</h3></a>
        <ul class="sidebar-menu" id="content-categories">
        </ul>
    </aside>

    <script id="item-category" type="text/x-jQuery-tmpl">
    <li id='category-${id}' class = ''>
        <a href="/products?categoryId=${id}">${name} <span class="count">(${productCount})</span></a>
    </li>

    </script>
    <!-- widget-categories end -->
    <!-- shop-filter start -->
    <aside class="widget shop-filter">
        <h3 class="sidebar-title">Filter selection</h3>
        <div class="info_widget">
            <div class="price_filter">
                <div id="slider-range"></div>
                <form th:action="@{/products}" method="get" th:object="${searchDto}" >
                <div class="price_slider_amount">
                    <input type="text" id="amount" placeholder="Add Your Price"/>
                    <input type="text" id="product-max-price" name="maxPrice" hidden/>
                    <input type="text" id="product-min-price" name="minPrice" hidden/>
                        <input type="submit" value="Filter"/>
                </div>

                </form>
            </div>
        </div>
    </aside>

<!--    <form th:action="@{/products}" method="get" th:object="${searchDto}" >-->
<!--        <input type="text" id="amount" name="price" placeholder="Add Your Price"/>-->
<!--        <input type="text" id="product-max-price" name="maxPrice" hidden/>-->
<!--        <input type="text" id="product-min-price" name="minPrice" hidden/>-->
<!--        <input type="submit" value="Filter"/>-->
<!--    </form>-->
    <!-- shop-filter end -->
    <!-- filter-by start -->
    <aside class="widget filter-by">
        <h3 class="sidebar-title">Product price</h3>
        <ul class="sidebar-menu">
            <li><a href="#">L</a> <span class="count">(1)</span></li>
            <li><a href="#">M</a> <span class="count">(1)</span></li>
            <li><a href="#">S</a> <span class="count">(1)</span></li>
            <li><a href="#">XL</a> <span class="count">(1)</span></li>
            <li><a href="#">XXL</a> <span class="count">(1)</span></li>
        </ul>
    </aside>
    <!-- filter-by end -->
    <!-- widget start -->
    <aside class="widget filter-by">
        <h3 class="sidebar-title">Color</h3>
        <ul class="sidebar-menu">
            <li><a href="#">Black</a> <span class="count">(1)</span></li>
            <li><a href="#">White</a> <span class="count">(8)</span></li>
            <li><a href="#">Orange</a> <span class="count">(5)</span></li>
            <li><a href="#">Blue</a> <span class="count">(7)</span></li>
            <li><a href="#">Yellow</a> <span class="count">(11)</span></li>
            <li><a href="#">Brown</a> <span class="count">(16)</span></li>
            <li><a href="#">red</a> <span class="count">(9)</span></li>
        </ul>
    </aside>
    <!-- widget end -->
    <!-- widget start -->
    <aside class="widget widget-categories">
        <h3 class="sidebar-title">Recent Product</h3>
        <div class="recent-product">
            <div class="single-product">
                <div class="product-img">
                    <a href="single-product.html">
                        <img src="" alt=""/>
                        <img class="secondary-img" src="" alt=""/>
                    </a>
                </div>
                <div class="product-content">
                    <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                    <div class="price">
                        <span>$80.00</span>
                        <span class="old">$90.11</span>
                    </div>
                </div>
            </div>
            <div class="single-product">
                <div class="product-img">
                    <a href="single-product.html">
                        <img src="" alt=""/>
                        <img class="secondary-img" src="" alt=""/>
                    </a>
                </div>
                <div class="product-content">
                    <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                    <div class="price">
                        <span>$80.00</span>
                        <span class="old">$90.11</span>
                    </div>
                </div>
            </div>
            <div class="single-product">
                <div class="product-img">
                    <a href="single-product.html">
                        <img src="" alt=""/>
                        <img class="secondary-img" src="" alt=""/>
                    </a>
                </div>
                <div class="product-content">
                    <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                    <div class="price">
                        <span>$80.00</span>
                        <span class="old">$90.11</span>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- widget end -->
    <!-- widget-tags start -->
    <aside class="widget product-tag">
        <h3 class="sidebar-title">Popular Tags</h3>
        <ul>
            <li><a href="#">Top</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">men</a></li>
            <li><a href="#">gallery</a></li>
            <li><a href="#">new</a></li>
            <li><a href="#">Collection men</a></li>
            <li><a href="#">Top</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">best</a></li>
            <li><a href="shop.html">cloth</a></li>
        </ul>
    </aside>
    <!-- widget-tags end -->
    <aside class="widget sale-off hidden-sm">
        <div class="sale-off-carosel">
            <div class="single-sale">
                <a href="#">
                    <img alt=""/>
                    <h2>sale off</h2>
                </a>
            </div>
            <div class="single-sale">
                <a href="#">
                    <img alt=""/>
                    <h2>sale off</h2>
                </a>
            </div>
            <div class="single-sale">
                <a href="#">
                    <img alt=""/>
                    <h2>sale off</h2>
                </a>
            </div>
            <div class="single-sale">
                <a href="#">
                    <img alt=""/>
                    <h2>sale off</h2>
                </a>
            </div>
            <div class="single-sale">
                <a href="#">
                    <img alt=""/>
                    <h2>sale off</h2>
                </a>
            </div>
        </div>
    </aside>
</div>