<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" th:fragment="left-category" xmlns:th="http://www.thymeleaf.org">
    <!-- widget-categories start -->
    <aside class="widget widget-categories">
        <a th:href="@{/products}"><h3 class="sidebar-title">Categories</h3></a>
        <ul class="sidebar-menu" id="content-categories">
        </ul>
    </aside>

    <script id="item-category" type="text/x-jQuery-tmpl">
    <li id='category-${id}' class = ''>
        <a href="/products?categoryId=${id}">${name} <span class="count">(${productCount})</span></a>
    </li>

    </script>
    <!-- widget-categories end -->
    <!-- shop-filter start -->
    <aside class="widget shop-filter">
        <h3 class="sidebar-title">Filter Product price</h3>
        <div class="info_widget">
            <div class="price_filter">
                <div id="slider-range"></div>
                <form th:action="@{/products}" method="get" th:object="${searchDto}" >
                <div class="price_slider_amount">
                    <input type="text" id="amount" placeholder="Add Your Price"/>
                    <input type="text" id="product-max-price" name="maxPrice" hidden/>
                    <input type="text" id="product-min-price" name="minPrice" hidden/>
                        <input type="submit" value="Filter"/>
                </div>

                </form>
            </div>
        </div>
    </aside>

    <!-- widget end -->
    <!-- widget start -->
    <aside class="widget widget-categories">
        <h3 class="sidebar-title">Product Best Selling</h3>
        <script id="product-best-selling" type="text/x-jQuery-tmpl">
            <div class="single-product">
                <div class="product-img">
                    <a href="/products/${id}">
                        <img src="${imageUrl}" alt=""/>
                        <img class="secondary-img" src="${imageUrl}" alt=""/>
                    </a>
                </div>
                <div class="product-content">
                    <h3><a href="single-product.html">${name}</a></h3>
                    <div class="price">
                        <span>₫ ${salePrice}</span>
                        <span class="old ${styleHideOriginalPrice}">₫ ${originalPrice}</span>
                    </div>
                </div>
            </div>
        </script>
        <div class="recent-product">

        </div>
    </aside>
</div>