<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="">Page Title</title>
    <div th:remove="tag" th:include="fragments/partials/header :: head"/>

    <!-- Include css or javascript for each page  -->
    <div th:remove="tag" layout:fragment="header"></div>
</head>
<body>
<div th:replace="layouts/header :: header"></div>

<!--slider that's here  -->
<div th:replace="layouts/no-slider :: no-slider"></div>

<div id="main">
    <div class="container-fluid">
<!--        <th:block th:if="${message != null && errorObject == null}">-->
<!--            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">&nbsp;</div>-->
<!--        </th:block>-->
        <div class="row" id="aside_wrap">
            <div class="col-md-12">
                <div th:remove="tag" layout:fragment="content"></div>
            </div>
        </div>
    </div>
</div>

<!-- footer-->
<div th:replace="layouts/footer::footer"></div>

<div th:replace="fragments/partials/footer :: jquery"></div>
<div th:replace="fragments/partials/footer :: jquery-jquery-1-12-0"></div>
<div th:replace="fragments/partials/footer :: jquery-bootstrap"></div>
<div th:replace="fragments/partials/footer :: jquery-owl-carousel"></div>
<div th:replace="fragments/partials/footer :: jquery-meanmenu"></div>
<div th:replace="fragments/partials/footer :: jquery-jquery-ui"></div>
<div th:replace="fragments/partials/footer :: jquery-nivo-slider"></div>
<div th:replace="fragments/partials/footer :: jquery-nivo-active"></div>
<div th:replace="fragments/partials/footer :: jquery-wow"></div>
<div th:replace="fragments/partials/footer :: jquery-plugins"></div>
<div th:replace="fragments/partials/footer :: jquery-main"></div>
<div th:replace="fragments/partials/footer :: sweet-alert"></div>
<div th:replace="fragments/partials/footer :: jquery-i18n"></div>
<div th:replace="fragments/partials/footer :: jquery-i18n-messagestore"></div>
<div th:replace="fragments/partials/footer :: jquery-custom-main"></div>
<script th:fragment="alert" type="text/javascript" th:src="@{/js/custom-js/alert.js}"></script>

<div th:remove="tag" layout:fragment="footer"></div>
</body>
</html>