<div th:fragment="pagination-sort(dataPageable, searchDto)" xmlns:th="http://www.thymeleaf.org"
     xmlns="http://www.w3.org/1999/html">
    <th:block th:with="totalPage=${dataPageable.getTotalPages()}">

        <ul class="shop-tab" role="tablist">
            <li><span class="sorting-name"> View as:  </span></li>
            <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i
                    class="fa fa-th"
                    aria-hidden="true"></i></a>
            </li>
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                      data-toggle="tab"><i
                    class="fa fa-th-list" aria-hidden="true"></i></a></li>
        </ul>
        <div class="short-by">
            <span class="sorting-show"> Sắp xếp:</span>
            <select class="sort-by">
                <option value="1" th:selected="${searchDto.sortBy == 1}">Giá tăng dần</option>
                <option value="2" th:selected="${searchDto.sortBy == 2}">Giá giảm dần </option>
            </select>
        </div>
        <div class="shop-show">
            <span class="sorting-show" > Show:</span>
            <select class="page-size">
                <option value="10" th:selected="${dataPageable.size == 10}">10</option>
                <option value="20" th:selected="${dataPageable.size == 20}">20</option>
                <option value="100" th:selected="${dataPageable.size == 100}">100</option>
            </select>
        </div>
        <div class="shop-breadcrumb">
            <ul th:if="${dataPageable.content.size() != 0}">
                <li th:class="${dataPageable.number eq 0} ? 'disabled' : ''">
                    <a th:href="@{/products(categoryId=${searchDto.categoryId},
                           sortBy=${searchDto.sortBy},size=${dataPageable.size},
                           page=${dataPageable.number - 1})}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                <th:block
                        th:each="pageNumber  : ${#numbers.sequence(dataPageable.number + 1, ((totalPage > 5 + dataPageable.number) ? (dataPageable.number + 5) : totalPage))}">
                    <li th:class="${pageNumber==dataPageable.number + 1} ? active">
                        <a th:text="${pageNumber}"
                           th:href="@{/products(categoryId=${searchDto.categoryId},
                           sortBy=${searchDto.sortBy},size=${dataPageable.size},
                           page=${pageNumber - 1})}">
                        </a>
                    </li>
                </th:block>
                <li th:class="${dataPageable.number + 1 eq totalPage} ? 'disabled' : ''">
                    <a th:href="@{/products(categoryId=${searchDto.categoryId},
                           sortBy=${searchDto.sortBy},size=${dataPageable.size},
                           page=${dataPageable.number + 1})}"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </th:block>
</div>

