<div class="tab-content" th:fragment="product-item" xmlns:th="http://www.thymeleaf.org"
     xmlns="http://www.w3.org/1999/html">
    <div role="tabpanel" class="tab-pane item-3column" id="home">
        <div class="row">
            <!-- single-product start -->
            
            <div th:if="${products.content.size() == 0 }"  class="search-product-empty">
                <img th:src="@{images/search-empty.png}"
                        class="result-section__icon" alt="">
                <div class="search-empty-result-section__title">Không tìm thấy sản phẩm nào</div>
                <div class="search-empty-result-section__hint">Hãy thử sử dụng các từ khóa chung chung hơn</div>
            </div>

            <th:block th:if="${products.content.size() != 0 }" th:each="item : ${products}">
                <div class="col-md-4 col-sm-4">
                    <div class="single-product">
                        <div class="product-img">
                            <a th:href="@{'/products/'+ ${item.id}}">
                                <img th:src="@{'/images/product/'+ ${item.imageUrl}}" alt=""/>
                                <img class="secondary-img" th:src="@{'/images/product/'+ ${item.imageUrl}}" alt=""/>
                            </a>
                            <span class="tag-line">new</span>
                            <div class="product-action">
                                <div class="button-top">
                                    <a href="#" data-toggle="modal" data-target="#productModal"><i
                                            class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                                <form th:action="@{'/carts/add/' + ${item.id}}" th:object="${toppingRq}" method="GET">
                                    <input hidden th:field="*{sizeId}">
                                    <div class="button-cart">
                                        <button type="submit"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a th:href="@{'/products/'+ ${item.imageUrl}}"><span th:text="${item.name}"></span></a></h3>
                            <div class="price">
                                <span th:text="₫"></span> <span th:text="${item.salePrice}"></span>
                                <span class="old">$90.11</span>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane item-1column active" id="profile">
        <div class="row shop-list">
            <!-- single-product start -->
            <div th:if="${products.content.size() == 0 }" class="search-product-empty">
                <img  th:src="@{images/search-empty.png}"
                     class="result-section__icon">
                <div class="search-empty-result-section__title">Không tìm thấy sản phẩm nào</div>
                <div class="search-empty-result-section__hint">Hãy thử sử dụng các từ khóa chung chung hơn</div>
            </div>
            <th:block th:if="${products.content.size() != 0 }" th:each="item : ${products}">
                <div class="col-md-12">
                    <div class="single-product">
                        <div class="product-img">
                            <a th:href="@{'/products/'+ ${item.id}}">
                                <img th:src="@{'/images/product/'+ ${item.imageUrl}}" alt=""/>
                                <img class="secondary-img" th:src="@{'/images/product/'+ ${item.imageUrl}}" alt=""/>
                            </a>
                            <span class="tag-line">new</span>
                        </div>
                        <div class="product-content">
                            <h3><a th:href="@{'/products/'+ ${item.imageUrl}}"><span th:text="${item.name}"></span></a></h3>
                            <div class="price">
                                <span th:text="₫"></span> <span th:text="${item.salePrice}"></span>
                                <span class="old">₫90.11</span>
                            </div>
                            <p th:text="${item.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                                tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                                justo
                                gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                            <div class="product-action">
                                <div class="button-top">
                                    <a href="#" data-toggle="modal" data-target="#productModal"><i
                                            class="fa fa-search"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </div>
                                <form th:action="@{'/carts/add/' + ${item.id}}" th:object="${toppingRq}" method="GET">
                                    <input hidden th:field="*{sizeId}">
                                    <div class="button-cart">
                                        <button type="submit"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <!-- single-product end -->
        </div>
    </div>
</div>