<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-main-layout}">
<head>
    <title th:text="'Category |' ">Page Title</title>
</head>
<body>

<div>
    <div class="container-fluid" layout:fragment="content">

        <h2 class="h3 mb-4 text-gray-800" style="padding-left: 20px;">Category</h2>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <form th:action="@{/admin/categories}" th:method="get" th:object="${categorySearchDto}">
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control form-control-sm" th:field="*{status}">
                                <option th:selected="${categorySearchDto.status ==0}" th:value="0">Choose action</option>
                                <option th:selected="${categorySearchDto.status ==2}"  th:value="2">Active</option>
                                <option th:selected="${categorySearchDto.status ==3}"  th:value="3">Inactive</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary form-control-sm">
                                <span class="text white-text">Submit</span>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a style="float: right" class="btn btn-primary btn-circle .btn-sm" title="Add"
                               th:href="@{/admin/categories/add}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>
                                <input class="form-check-input chk-table select-all-item" type="checkbox"
                                       id="select-all-item">
                            </th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Updated Date</th>
                            <th>Enable / Disable</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="item : ${categories}">
                        <tr >
                            <td>
                                <input class="form-check-input chk-table select-one-item" type="checkbox">
                            </td>
                            <td th:text="${item.id}">123</td>
                            <td th:text="${item.name}">Name1</td>
                            <td th:text="${#dates.format(item.updatedAt, displayDatetimeFormat)}">21-6-2020</td>
                            <td class="toggleDisp change-status-category" th:data-id="${item.id}" style="text-align: center;">
                                <span>
                                    <a href="javascript: void(0);"
                                       th:classappend="${item.status == 2} ? active : ''"></a>
                                    <input th:data-original="${item.status}">
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/admin/categories/{id}/edit(id=${item.id})}">
                                    <i class="fas fa-tools" title="Edit"></i>
                                </a>
                                <a style="padding-left: 20px;" th:href="@{/admin/categories/{id}/delete(id=${item.id})}" onclick="return confirmDelete()">
                                    <i class="fas fa-trash" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

<div layout:fragment="footer">
    <div th:replace="fragments/partials/footer :: jquery-tmpl"></div>
    <script th:src="@{/admin/js/admin-category-list.js}"></script>
</div>

</html>