<div class="row" th:fragment="cart-item" xmlns:th="http://www.thymeleaf.org"
     xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="#">
            <div class="table-content table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th class="product-thumbnail">Image</th>
                        <th class="product-name">Product</th>
                        <th class="product-price">Price</th>
                        <th class="product-size">Size</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                        <th class="product-remove">Remove</th>
                        <th class="product-update">Update</th>
                    </tr>
                    </thead>
                    <tbody class="content-item-cart">
                    <!--                    <tr th:each="item:${items}">-->
                    <!--                        <td class="product-thumbnail"><a href="#"><img-->
                    <!--                                th:src="${'/images/product/'+ item.product.imageUrl}" alt=""></a></td>-->
                    <!--                        <td class="product-name"><a href="#"><span th:text="${item.product.name}"></span></a></td>-->
                    <!--                        <td class="product-price"><span class="amount"><span th:text="₫"></span> <span-->
                    <!--                                th:text="${item.product.salePrice}"></span></span></td>-->
                    <!--                        <td class="size-item">-->
                    <!--                            <select class="size-option">-->

                    <!--                            </select>-->

                    <!--                        </td>-->

                    <!--                        <input hidden class="size-id-" th:value="${item.size.id}"/>-->
                    <!--                        <td class="product-quantity"><input type="number" th:value="${item.quantity}"></td>-->
                    <!--                        <td class="product-subtotal"><span th:text="₫"></span> <span-->
                    <!--                                th:text="${item.getAmount()}"></span></td>-->
                    <!--                        <td class="product-remove"><i class="fa fa-times remove-cart-item" th:value="${item.product.id + ',' + item.size.id}"></i></td>-->
                    <!--                    </tr>-->
                    </tbody>
                </table>
            </div>
            <!--                                <th:block th:each="size:${sizes}">-->
            <!--                                    <option th:value="${size.id}" th:selected="${size.id} == ${item.size.id}"><span th:text="${size.name}">:</span> <span>₫</span><span th:text="${size.price}"></span></option>-->
            <!--                                </th:block>-->
            <script id="item-cart-list" type="text/x-jQuery-tmpl">
                <tr class = "item-${productId}-${sizeId}">
                        <td class="product-thumbnail"><a href="#"><img
                                src="${imageUrl}" alt=""></a></td>
                        <td class="product-name"><a href="#"><span>${productName}</span></a></td>
                        <td class="product-price"><span class="amount"><span>₫</span> <span>${productPrice}</span></span></td>
                        <td class="size-item">
                            <select class="size-option-${productId}-${sizeId} size-option">

                            </select>

                        </td>

                        <td>
                            <div class="cart-plus-minus" style="position: relative;width: 60px; margin: auto;">
                                <input disabled type="text" class="quantity" value="${quantity}"/>
                                <div class="dec qtybutton">-</div>
                                <div class="inc qtybutton">+</div>
                            </div>
                         </td>
                        <td class="product-subtotal"><span th:text="₫"></span> <span>${amount}</span></td>
                        <td class="product-remove"><i class="fa fa-times remove-cart-item" id="${removeItemId}" data-cart-id="${productId + ',' + sizeId}"></i></td>
                        <td><button type="button" class="btn btn-success update-cart-item" data-cart-id="${productId + ',' + sizeId}">Update</button></td>
                    </tr>




            </script>

            <script id="size-option-item-cart" type="text/x-jQuery-tmpl">

                                <option class="" value="${sizeId}">${sizeName}: <span>₫</span><span>${sizePrice}</span></option>

            </script>
            <div class="row">
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="buttons-cart">
                        <a th:href="@{/products}">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="cart_totals">
                        <h2>Tổng</h2>
                        <table>
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>Tạm tính</th>
                                <td><span class="total-amount"></span></td>
                            </tr>

                            <tr class="order-total">
                                <th>Thành tiền</th>
                                <td>
                                    <strong><span class="total-amount"></span></strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="wc-proceed-to-checkout">
                            <a th:href="@{/checkout}">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>