<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout-none-slide}">
<head>
    <title th:text="'404 |' ">Page Title</title>
</head>
<body>

<div>
    <div class="shop-area" layout:fragment="content">
        <div class="container">
            <div class="four-zero-four">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="four-zero-content">
                                <h1><span th:text="${errorObject.getCode()}">404</span> <p th:text="${errorObject.getMessage()}">not found!</p></h1>
                                <p>The page you are looking for is not found! Please check the url again. </p>
                                <a href="index.html">back to home page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

<div layout:fragment="footer">
    <div th:replace="fragments/partials/footer :: jquery-tmpl"></div>
    <script th:src="@{/js/custom-js/products.js}"></script>
    <script th:src="@{/js/custom-js/category.js}"></script>
</div>

</html>