<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<h3>This content is inserted for static prototyping reasons only</h3>
<script th:fragment="jquery" type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:fragment="jquery-jquery-1-12-0" th:src="@{/css/jquery-1.12.0.min.js}"></script>

<script th:fragment="jquery-bootstrap" th:src="@{/js/bootstrap.min.js}"></script>

<script th:fragment="jquery-owl-carousel" th:src="@{/js/owl.carousel.min.js}"></script>

<script th:fragment="jquery-meanmenu" th:src="@{/js/jquery.meanmenu.js}"></script>

<script th:fragment="jquery-jquery-ui" th:src="@{/js/jquery-ui.min.js}"></script>

<script th:fragment="jquery-nivo-slider" th:src="@{/lib/js/jquery.nivo.slider.pack.js}"></script>

<script th:fragment="jquery-nivo-active" th:src="@{/lib/js/nivo-active.js}"></script>
<script th:fragment="jquery-wow" th:src="@{/js/wow.min.js}"></script>

<script th:fragment="jquery-plugins" th:src="@{/js/plugins.js}"></script>

<script th:fragment="jquery-main" th:src="@{/js/main.js}"></script>

<script th:fragment="jquery-custom-main" th:src="@{/js/custom-js/main.js}"></script>

<script th:fragment="jquery-tmpl" type="text/javascript" th:src="@{/js/vendor/jquery-tmpl/jquery.tmpl.min.js}"></script>

<script th:fragment="jquery-i18n" type="text/javascript" th:src="@{/vendor/jquery-validation/i18n/jquery.i18n.js}"></script>

<script th:fragment="jquery-i18n-messagestore" type="text/javascript" th:src="@{/vendor/jquery-validation/i18n/jquery.i18n.messagestore.js}"></script>

<script th:fragment="sweet-alert" type="text/javascript" th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>



</body>
</html>