<div th:fragment="order-item" id="classModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
     aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" xmlns:th="http://www.thymeleaf.org"
     xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="classModalLabel">
                    Thông tin đơn hàng
                </h4>
            </div>
            <div class="modal-body">
                <table id="classTable" class="table table-bordered">
                    <thead>
                    <th>STT</th>
                    <th>ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Size</th>
                    <th>Số lượng</th>
                    <th>Giá bán</th>
                    <th>Giảm giá (%)</th>
                    </thead>
                    <tbody class="order-item-detail">

                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-4 show-inline">
                        <strong>Tổng tiền:&emsp;</strong>
                        <div id="total_origin_price"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 show-inline">
                        <strong>Khuyến mãi:&emsp;</strong>
                        <div id="total_discount"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 show-inline">
                        <strong>Tổng tiền phải trả:&emsp;</strong>
                        <div><span class="money" id="total_price"></span> </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
